

body {
   
    margin:0;
    font-family:monospace; 
    }
.container {
    max-width: 1180px;
    margin: 0 auto;
    
}
header.main-header {
    text-align: center;
     background-image: url('../images/biblio.jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
header.main-header img.logo {
    position: relative;
    border-radius: 50%;
    border: 1px solid red;
  }  

form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
h1{
    text-align: center;
    color:#ffff;
    font-size:40px;
    background: rgba(0,0,0,0.4);
    margin-top: 20px;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;   
}

h3{
    text-align: center;
}

input, textarea {
width: 100%;
margin-bottom: 20px;
   padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {    
min-height: 100px;
max-height: 200px;
max-width :100%;
}

#boton {
    background: #31384A;
    color: #fff ;
    padding: 20px;
}

#boton:hover{
cursor:pointer;  

}
@media(max-width:480px){
    form{
    width:100%;
    }
}



ul {
    list-style-type: none;
    padding: 0;
}
nav.main-nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav.main-nav ul li a {
    height: 50px;
    width: 180px;
    padding: 17px;
    display: inline-block;
    background-color: #444444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
   }


